.App {
  text-align: center;
  
}
.navbar{
  background-color: rgb(209, 168, 248);
  height: 50px;
  width: 100%;
}
.navbar2{
  background-color: rgb(209, 168, 248);
  height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0;
}